<nav class="navbar "style="background-color:#212529;">
  <a class="navbar-brand" href="#"></a>
 
  <nav class="mrr-menu d-none d-lg-block">
    <ul>
      <li >
      <a>  الأسئلة </a>
      </li>
      <li >
       <a>  الشروط </a>
      </li>
      
    <li>
<div class="switch-lang"> 
<div class="current-lang"><img class="lang-flag" src="https://cdn2.iconfinder.com/data/icons/world-flag-icons/128/Flag_of_United_Kingdom.png"/>
  <p class="lang-text">English</p>
</div>
<div class="lang-dropdown">
  <div class="selecting-lang"><img class="lang-flag" src="https://cdn2.iconfinder.com/data/icons/world-flag-icons/128/Flag_of_France.png"/>
    <p class="lang-text">Français</p>
  </div>

</div>
</div>
</li>
</ul>
  </nav>
  
  
</nav>
<nav class="navbar navbar-expand-lg " style="background: linear-gradient(0deg, #2a2c39 0%, #33364a 100%);">

    <div class=" navbar-collapse" id="navbarTogglerDemo03">
        
      <div class="navbar-nav   mt-lg-0">
        <div class="col subscribe  " >
            <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">اشترك</a>
          </div>
        </div>
      <div class="d-flex justify-content-center ml-auto">
        <img class="lang-logo d-flex justify-content-center" src="assets/img/lOGO.png"/>
      </div>
      <div class=" my-2 my-lg-0 ml-auto">
        <div class="col social container" >
            <div class="social-links">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>
        </div>
    </div>
  </nav>



  <div class="sticky-top" style="background-color: #2a2c39;"> 
  <div id="" class=" d-flex align-items-center   " >
  <div class="container d-flex align-items-center " 
   style=""
  >
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class=""><a href="index.html">blog</a>

          <li class="blog-drop-down"><a href="index.html">بضائع</a>
            
          <li class="blog-drop-down"><a href="index.html">لوحة</a>
            
          <li class="blog-drop-down"><a href="index.html">الألعاب</a>
         </li>
          <li class="blog-drop-down" (mouseover)="changeText=true" ><a href="#"><i class=""></i> مجالاتي</a>
              
        </ul>
      </nav><!-- .nav-menu -->
  
    </div>
  

  </div>
  <div  (mouseover)="changeTextt=true " (mouseout)="changeTextt=false && changeText=false "  >
    <div  class="container" *ngIf="changeText || changeTextt" >
      <div class="card-deck cardddd " >
        <div class="arrow">
          <svg (click)="arrow()" width="5em" height="15em" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="white" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
          </svg>
      </div>
        <div class="card img-block" *ngFor="let image of image2" >
        <img routerLink="/magasins/{{image.id}}"  href="index.html"  style=" height: -webkit-fill-available;
          width: -webkit-fill-available;" src={{image.src}} class="card-img-top" alt="..." > 
        </div>
        <div class="arrow">
          <svg (click)="arrowRight()"  width="5em" height="15em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="white" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
          </svg>
      </div>
    </div>



  </div>
      </div>
    


   