<div class="header">
<nav class="navbar ">
  <div class="point ">
    <span style="--j:1;"></span>
    <span style="--j:2;"></span>
    <span style="--j:3;"></span>
    <span style="--j:4;"></span>
    <span style="--j:5;"></span>
    <span style="--j:6;"></span>
    <span style="--j:7;"></span>
    <span style="--j:8;"></span>
    <span style="--j:9;"></span>
    <span style="--j:10;"></span>
    <span style="--j:35;"></span>
   
   
    
</div>
<div class="glowing">
  <span style="--i:1;"></span>
  <span style="--i:2;"></span>
  <span style="--i:3;"></span>
  <span style="--i:4;"></span>
  <span style="--i:5;"></span>
  
</div>
  <a class="navbar-brand" href="#"></a>
 
  <nav class="mrr-menu d-none d-lg-block">
    <ul>
      <li >
      <a>  الأسئلة </a>
      </li>
      <li >
       <a>  الشروط </a>
      </li>
      
    <li>
<div class="switch-lang"> 
<div class="current-lang"><img class="lang-flag" src="https://cdn2.iconfinder.com/data/icons/world-flag-icons/128/Flag_of_United_Kingdom.png"/>
  <p class="lang-text">English</p>
</div>
<div class="lang-dropdown">
  <div class="selecting-lang"><img class="lang-flag" src="https://cdn2.iconfinder.com/data/icons/world-flag-icons/128/Flag_of_France.png"/>
    <p class="lang-text">Français</p>
  </div>

</div>
</div>
</li>
</ul>
  </nav>
  
  
</nav>
<nav class="navbar navbar-expand-lg " >

    <div class=" navbar-collapse" id="navbarTogglerDemo03">
        
      <div class="navbar-nav   mt-lg-0">
        <div class="col subscribe  " >
            <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">اشترك</a>
          </div>
        </div>
      <div class="d-flex justify-content-center ml-auto">
        <img class="lang-logo d-flex justify-content-center" src="assets/img/lOGO.png"/>
      </div>
      <div class=" my-2 my-lg-0 ml-auto">
        <div class="col social container" >
            <div class="social-links">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>
        </div>
    </div>
  </nav>


  <div class="container">
    <div class="row">
      <div class="col">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col" style="justify-content: ;
          text-align: center">
      <ul>
       <li>مرحبًا بك في عالم فري</li>
       <li>الم من المتعة، الإكتشاف و التعلم</li>
       <li>لتي تسعى إلى تعليم الطفل وإمتاعه في نفس الوقت.س</li>
      </ul>
      <div class="col" style="text-align: center;margin-top: 60px;"> 
        <a style="margin-left: 20px;" ><img src="assets/img/apple-store1.png"></a>
        <a style="margin-left: 20px;"><img src="assets/img/google-store1.png"></a>
       
    
    </div>
      </div>
    </div>
  </div>
    <div class="cloud">

    </div>


</div>



  


   